<a href="https://colab.research.google.com/github/Soumiyads2004/FODS_54/blob/main/Exp2FODS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/housing_dataset.csv')
df.head()

,ID,Price,Bedrooms,Bathrooms,Sqft_Living,Sqft_Lot,Floors,Waterfront,View,Condition,Year_Built
0,1,224835.71,4,3.0,1659.70,5141.78,1,1,1,2,1901
1,2,193086.78,1,3.4,1564.66,3207.94,1,0,0,2,1957
2,3,232384.43,3,1.3,NaN,NaN,2,1,3,5,1918
3,4,276151.49,5,3.8,1177.98,6086.91,1,1,0,3,1961
4,5,188292.33,3,3.4,NaN,3610.07,1,1,2,4,1977

# **Handling Null Values**

In [ ]:
df.isnull().sum()
null_col=df.columns[df.isnull().any()]
print(null_col)

Index(['Price', 'Bathrooms', 'Sqft_Living', 'Sqft_Lot'], dtype='object')

In [ ]:
df.fillna(df["Price"].median()) #filling null values in price col with its median value

,ID,Price,Bedrooms,Bathrooms,Sqft_Living,Sqft_Lot,Floors,Waterfront,View,Condition,Year_Built
0,1,224835.71,4,3.0,1659.70,5141.78,1,1,1,2,1901
1,2,193086.78,1,3.4,1564.66,3207.94,1,0,0,2,1957
2,3,232384.43,3,1.3,202300.21,202300.21,2,1,3,5,1918
3,4,276151.49,5,3.8,1177.98,6086.91,1,1,0,3,1961
4,5,188292.33,3,3.4,202300.21,3610.07,1,1,2,4,1977
...,...,...,...,...,...,...,...,...,...,...,...
995,996,185944.99,3,1.9,202300.21,2305.58,1,1,2,4,1945
996,997,289884.33,4,2.8,956.69,3879.75,2,0,2,1,1951
997,998,232042.14,1,1.2,1051.94,4500.19,1,1,3,5,1909
998,999,171441.05,3,1.5,1026.09,202300.21,2,1,1,5,1945
999,1000,202300.21,2,3.1,1802.73,7036.91,2,0,0,1,1927

In [ ]:
df.fillna(df["Bathrooms"].mean()) #filling the mean values in bathrooms

,ID,Price,Bedrooms,Bathrooms,Sqft_Living,Sqft_Lot,Floors,Waterfront,View,Condition,Year_Built
0,1,224835.710000,4,3.0,1659.700000,5141.780000,1,1,1,2,1901
1,2,193086.780000,1,3.4,1564.660000,3207.940000,1,0,0,2,1957
2,3,232384.430000,3,1.3,2.503111,2.503111,2,1,3,5,1918
3,4,276151.490000,5,3.8,1177.980000,6086.910000,1,1,0,3,1961
4,5,188292.330000,3,3.4,2.503111,3610.070000,1,1,2,4,1977
...,...,...,...,...,...,...,...,...,...,...,...
995,996,185944.990000,3,1.9,2.503111,2305.580000,1,1,2,4,1945
996,997,289884.330000,4,2.8,956.690000,3879.750000,2,0,2,1,1951
997,998,232042.140000,1,1.2,1051.940000,4500.190000,1,1,3,5,1909
998,999,171441.050000,3,1.5,1026.090000,2.503111,2,1,1,5,1945
999,1000,2.503111,2,3.1,1802.730000,7036.910000,2,0,0,1,1927

In [ ]:
df.dropna() #drop null values in the columns

,ID,Price,Bedrooms,Bathrooms,Sqft_Living,Sqft_Lot,Floors,Waterfront,View,Condition,Year_Built
0,1,224835.71,4,3.0,1659.70,5141.78,1,1,1,2,1901
1,2,193086.78,1,3.4,1564.66,3207.94,1,0,0,2,1957
3,4,276151.49,5,3.8,1177.98,6086.91,1,1,0,3,1961
5,6,188293.15,3,2.9,2411.08,4944.34,2,1,1,3,1971
6,7,278960.64,1,2.0,698.66,6094.28,2,1,2,3,2001
...,...,...,...,...,...,...,...,...,...,...,...
992,993,187641.13,1,2.7,1753.73,2778.89,2,1,2,1,1904
993,994,165900.79,2,2.9,1917.88,2416.73,1,0,0,1,1959
994,995,149919.00,4,2.6,1567.02,5546.30,1,1,2,2,1922
996,997,289884.33,4,2.8,956.69,3879.75,2,0,2,1,1951
997,998,232042.14,1,1.2,1051.94,4500.19,1,1,3,5,1909

## **Handling Outliers**

In [ ]:
#identifying outliers

q1=df['Price'].quantile(0.25)
q3=df['Price'].quantile(0.75)
IQR=q3-q1
lower_bound=q1+(1.5*IQR)
upper_bound=q3-(1.5*IQR)
print("Lower bound:",lower_bound)
print("Upper bound:",upper_bound)

Lower bound: 267479.22125
Upper bound: 135008.56625000003

In [ ]:
#removing the outliers from the datasets

outlier=(df[['Price']]>upper_bound) | (df[['Price']]<lower_bound)
print(outlier)

     Price
0     True
1     True
2     True
3     True
4     True
..     ...
995   True
996   True
997   True
998   True
999  False

[1000 rows x 1 columns]

In [ ]:
cleaned_df=df[~outlier]
print(cleaned_df)

     ID  Price  Bedrooms  Bathrooms  Sqft_Living  Sqft_Lot  Floors  \
0   NaN    NaN       NaN        NaN          NaN       NaN     NaN
1   NaN    NaN       NaN        NaN          NaN       NaN     NaN
2   NaN    NaN       NaN        NaN          NaN       NaN     NaN
3   NaN    NaN       NaN        NaN          NaN       NaN     NaN
4   NaN    NaN       NaN        NaN          NaN       NaN     NaN
..   ..    ...       ...        ...          ...       ...     ...
995 NaN    NaN       NaN        NaN          NaN       NaN     NaN
996 NaN    NaN       NaN        NaN          NaN       NaN     NaN
997 NaN    NaN       NaN        NaN          NaN       NaN     NaN
998 NaN    NaN       NaN        NaN          NaN       NaN     NaN
999 NaN    NaN       NaN        NaN          NaN       NaN     NaN

     Waterfront  View  Condition  Year_Built
0           NaN   NaN        NaN         NaN
1           NaN   NaN        NaN         NaN
2           NaN   NaN        NaN         NaN
3           NaN   NaN        NaN         NaN
4           NaN   NaN        NaN         NaN
..          ...   ...        ...         ...
995         NaN   NaN        NaN         NaN
996         NaN   NaN        NaN         NaN
997         NaN   NaN        NaN         NaN
998         NaN   NaN        NaN         NaN
999         NaN   NaN        NaN         NaN

[1000 rows x 11 columns]

In [ ]:
#Normalizing the data on the basis of min max algo
df.columns

Index(['ID', 'Price', 'Bedrooms', 'Bathrooms', 'Sqft_Living', 'Sqft_Lot',
       'Floors', 'Waterfront', 'View', 'Condition', 'Year_Built'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           1000 non-null   int64
 1   Price        820 non-null    float64
 2   Bedrooms     1000 non-null   int64
 3   Bathrooms    900 non-null    float64
 4   Sqft_Living  898 non-null    float64
 5   Sqft_Lot     889 non-null    float64
 6   Floors       1000 non-null   int64
 7   Waterfront   1000 non-null   int64
 8   View         1000 non-null   int64
 9   Condition    1000 non-null   int64
 10  Year_Built   1000 non-null   int64
dtypes: float64(4), int64(7)
memory usage: 86.1 KB

In [ ]:
# prompt: Normalize the &#39;Sqft_Living&#39; column using Min-Max scaling after removing outliers.

from sklearn.preprocessing import MinMaxScaler

# Create a MinMaxScaler object
scaler = MinMaxScaler()

# Fit the scaler to the 'Sqft_Living' column of the cleaned DataFrame
scaler.fit(cleaned_df[['Sqft_Living']])

# Transform the 'Sqft_Living' column using the fitted scaler
cleaned_df['Sqft_Living_Normalized'] = scaler.transform(cleaned_df[['Sqft_Living']])

print(cleaned_df.head())

   ID  Price  Bedrooms  Bathrooms  Sqft_Living  Sqft_Lot  Floors  Waterfront  \
0 NaN    NaN       NaN        NaN          NaN       NaN     NaN         NaN
1 NaN    NaN       NaN        NaN          NaN       NaN     NaN         NaN
2 NaN    NaN       NaN        NaN          NaN       NaN     NaN         NaN
3 NaN    NaN       NaN        NaN          NaN       NaN     NaN         NaN
4 NaN    NaN       NaN        NaN          NaN       NaN     NaN         NaN

   View  Condition  Year_Built  Sqft_Living_Normalized
0   NaN        NaN         NaN                     NaN
1   NaN        NaN         NaN                     NaN
2   NaN        NaN         NaN                     NaN
3   NaN        NaN         NaN                     NaN
4   NaN        NaN         NaN                     NaN

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_data.py:480: RuntimeWarning: All-NaN slice encountered
  data_min = np.nanmin(X, axis=0)
/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_data.py:481: RuntimeWarning: All-NaN slice encountered
  data_max = np.nanmax(X, axis=0)

In [ ]:
dum=pd.get_dummies(df['Sqft_Living'])
print(dum)

     -119.72   -93.91     23.46     148.26    175.45    293.94    311.06   \
0       False     False     False     False     False     False     False
1       False     False     False     False     False     False     False
2       False     False     False     False     False     False     False
3       False     False     False     False     False     False     False
4       False     False     False     False     False     False     False
..        ...       ...       ...       ...       ...       ...       ...
995     False     False     False     False     False     False     False
996     False     False     False     False     False     False     False
997     False     False     False     False     False     False     False
998     False     False     False     False     False     False     False
999     False     False     False     False     False     False     False

      327.51    331.12    333.33   ...   2680.81   2690.10   2744.73  \
0       False     False     False  ...     False     False     False
1       False     False     False  ...     False     False     False
2       False     False     False  ...     False     False     False
3       False     False     False  ...     False     False     False
4       False     False     False  ...     False     False     False
..        ...       ...       ...  ...       ...       ...       ...
995     False     False     False  ...     False     False     False
996     False     False     False  ...     False     False     False
997     False     False     False  ...     False     False     False
998     False     False     False  ...     False     False     False
999     False     False     False  ...     False     False     False

      2748.41   2751.90   2762.20   2824.07   2875.36   2942.12   3328.85
0       False     False     False     False     False     False     False
1       False     False     False     False     False     False     False
2       False     False     False     False     False     False     False
3       False     False     False     False     False     False     False
4       False     False     False     False     False     False     False
..        ...       ...       ...       ...       ...       ...       ...
995     False     False     False     False     False     False     False
996     False     False     False     False     False     False     False
997     False     False     False     False     False     False     False
998     False     False     False     False     False     False     False
999     False     False     False     False     False     False     False

[1000 rows x 895 columns]

In [16]:
# prompt: Convert the &#39;Year_Built&#39; column to integer type.

# Convert the 'Year_Built' column to integer type.
cleaned_df['Year_Built'] = cleaned_df['Year_Built'].fillna(0).astype(int)
print(cleaned_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      0 non-null      float64
 1   Price                   0 non-null      float64
 2   Bedrooms                0 non-null      float64
 3   Bathrooms               0 non-null      float64
 4   Sqft_Living             0 non-null      float64
 5   Sqft_Lot                0 non-null      float64
 6   Floors                  0 non-null      float64
 7   Waterfront              0 non-null      float64
 8   View                    0 non-null      float64
 9   Condition               0 non-null      float64
 10  Year_Built              1000 non-null   int64
 11  Sqft_Living_Normalized  0 non-null      float64
dtypes: float64(11), int64(1)
memory usage: 93.9 KB
None

# DATA CLEANING AND **TRANSFORMATION**

In [17]:
# prompt: Encode the &#39;Waterfront&#39; column using binary encoding.

cleaned_df['Waterfront_Encoded'] = cleaned_df['Waterfront'].apply(lambda x: 1 if x == 1 else 0)
print(cleaned_df.head())

   ID  Price  Bedrooms  Bathrooms  Sqft_Living  Sqft_Lot  Floors  Waterfront  \
0 NaN    NaN       NaN        NaN          NaN       NaN     NaN         NaN
1 NaN    NaN       NaN        NaN          NaN       NaN     NaN         NaN
2 NaN    NaN       NaN        NaN          NaN       NaN     NaN         NaN
3 NaN    NaN       NaN        NaN          NaN       NaN     NaN         NaN
4 NaN    NaN       NaN        NaN          NaN       NaN     NaN         NaN

   View  Condition  Year_Built  Sqft_Living_Normalized  Waterfront_Encoded
0   NaN        NaN           0                     NaN                   0
1   NaN        NaN           0                     NaN                   0
2   NaN        NaN           0                     NaN                   0
3   NaN        NaN           0                     NaN                   0
4   NaN        NaN           0                     NaN                   0

In [18]:
# prompt: Save the cleaned dataset to a new CSV file.

cleaned_df.to_csv('cleaned_housing_dataset.csv', index=False)